body {
    margin: 0;
    padding: 0;
}
.no-background{
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(240, 159, 190);
    color: rgb(126, 16, 126);
}
h1{
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(126, 16, 126);
    margin: 0;
}
.color{
    color: black;
}
.background
h2{
    text-align: center;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(image/images/top-banner.png);
    background-repeat: no-repeat;
}
.order{
    width: 100%;
}
.order-now{
    text-decoration: none;
    text-align: center;
    padding:10px 40px;
    padding-left: 10px;
    padding-top: 30px;
    border-radius: 5px;
}
.link-button{
    text-decoration: none;
    background-color: rgb(245, 173, 66);
    padding:10px 40px;
    border-radius: 5px;
}
.link-button2{
    text-decoration:none;
    background-color:pink;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 10px;
}
.middle-banner{
    width: 50%;
}
.middle-banner img{
    width: 70%;
}
.size{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}
.size img{
    width: 70%;
}
.section-color{
    background-image: linear-gradient(rgb(255, 101, 127)  pink);
}
.heading-menu{
    display: block;
    text-align: center;
    background-color: rgb(228, 112, 151);
    padding: 5px 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.heading-menu ul{
        list-style-type: none;
}
.heading-menu ul a{
    display: inline-block;
    color: black;
    padding: 5px;
    text-decoration: grey;
}
.biriyani{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 20px 30px 20px;
    column-gap: 30px;
    row-gap: 30px;
}
.biryani img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 500px; 
    object-fit: cover;
}
.biryani h4{
    padding: 5px;
    text-align: center;
}
.biryani button{
    padding: 5px 30px;
    border: none;
    border-radius: 4px;
    background-color: hotpink;
    border-radius: 4px;
    font-size: 1em;
    text-align: center;
    display: block;
    margin:0 auto;
}
.footer{
    text-align: center;
    box-sizing: border-box;
    background: pink;
    font-family: sans-serif;
}
.social-media{
    display: block;
    align-items: center;
    margin: auto;
}
.social-media a{
    text-align: center;
    font-size: 14px;
}
.footer-bottom{
    background: rgb(223, 80, 192);
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    padding: 5px 0;
    word-spacing: 3px;
}
.footer-bottom span{
    color: gray;
}