h1{
    font-size: large;
    text-align: center;
    color: rgb(126, 16, 126);
}
h2{
    text-align: center;
}
div{
    background-color: pink; 
    display: grid;
    place-items: center;
}
div ul{
        list-style-type: none;
}
div ul a{
    display: inline-block;
    padding: 20px;
}
