h1{
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(126, 16, 126);
}
h2{
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
}
.section-color{
    background-image: linear-gradient(rgb(255, 101, 127)  pink);
}
.heading-menu ul{
        list-style-type: none;
}
.heading-menu ul a{
    display: inline-block;
    padding: 20px;
}
.item{
    display: grid;
    padding: 20px 10px;
}
.item img{
    width: 90%;
    height: 300px;
}
.item h4{
    padding: 5px;
    text-align: center;
}
.item button{
    padding:10px 30px;
    background-color: rosybrown;
    border-radius: 5px;
    font-size: 2em;
    display: block;
    margin: auto;
}